#parse("dashboard.html")
#@mainLayout()

<div class="row">
    <div class="col-md-4 offset-md-8">
        <form action="/medias/" method="get">
            <div class="form-group has-btn">
                <input type="search" id="search" name="title" class="form-control"
                       placeholder="Rechercher un film ou une série">

                <button type="submit" class="btn btn-block bg-red">Valider</button>
            </div>
        </form>
    </div>
</div>

<div class="media-list">
    #foreach($episode in $episodes)

    #if ($episode.getEpisodeNumber() == 1)
    <div class="row">
        <label>Saison $episode.getSeasonNumber()<br></label>

    #end

    <div>
    <a class="item" href="/medias/$episode.getSerieId()/episodes/$episode.getId()">
        <div class="video">
            <div>
                <iframe allowfullscreen="" frameborder="0"
                        src="$episode.getEpisodeUrl()" ></iframe>
            </div>
        </div>
        <div class="title">
            $episode.getEpisodeTitle()
        </div>
    </a>
    </div>
    #end
    </div>
</div>
#end
