#parse("dashboard.html")
#@mainLayout()

<h2>Profil de $user.getEmail()</h2>
<div class="col-md-9 col-sm-12">

    <span>Changement de mot de passe</span>
    <form method="POST" action="/profil/updateProfil" class="custom-form">

        <div class="form-group col-md-6">
            <label for="email">Ancien mot de passe</label>
            <input type="email" name="email" value="" id="email" class="form-control"/>
        </div>

        <div class="form-group col-md-6">
            <label for="contact_message_to_send">Nouveau mot de passe</label>
            <input type="text" name="contact_message_to_send" id="contact_message_to_send" class="form-control"/>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <a href="/contact" class="btn btn-block bg-blue">Valider</a>
                </div>
            </div>
        </div>
    </form>
    <form method="POST" action="/profil/suppProfil" class="custom-form">
        <div class="form-group">
            <label for="suppression">Tapez "SUPPRIMER" pour détruire définitivement votre profil, attention ceci est irréversible</label>
            <input type="text" name="suppression" value="" id="suppression" class="form-control"/>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" name="Valider" class="btn btn-block bg-red"/>
                </div>
            </div>
        </div>

        <span class="error-msg">
    </span>
    </form>
</div>
#end
